<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Page d'Accueil - Gestionnaire de Tâches</title>
</head>
<body>
<h1>Bienvenue sur le gestionnaire de tâches</h1>
<a href="{{ path('task_list') }}">Voir les tâches</a>
</body>
</html>
